:root{
    --color_background:#008080;
    --color_texto: white;
}

body{
    background-color: var(--color_background) !important;
}

.oculto{
    visibility: hidden;
    height: 0px;
}

.texto{
    color: var(--color_texto);
}