:root{
    --color_background:#008080;
    --color_texto: white;
    --color_botones: #134c6d;
}

body{
    background-color: var(--color_background) !important;
}

.oculto{
    visibility: hidden;
    height: 0px;
}

.texto{
    color: var(--color_texto) !important;
}

.fondo{
    background-color: var(--color_background) !important;
}